<!-- Display Posts -->
<div class="row post post-container" *ngFor="let post of posts">
  <div class="d-flex flew-column align-items-center">
    <app-vote-button class="align-self-start" [post]="post"></app-vote-button>
    <!-- Section to Display Post Information -->
    <div class="col-md-11">
      <span class="subreddit-info">
        <span class="subreddit-text"
          ><a class="posturl" routerLink="">{{ post.subredditName }}</a></span
        >
        <span>
          . Posted by
          <a
            *ngIf="currentUser != ''"
            class="username"
            routerLink="/user-profile/{{ post.userName }}"
            >{{ post.userName === currentUser ? "you" : post.userName }}</a
          >
          <a *ngIf="currentUser == ''">{{ post.userName }}</a>
        </span>
        <span> . {{ post.duration }}</span>

        <button
          *ngIf="currentUser === post.userName"
          class="toggleNotifications btn btn-outline btn-sm float-right"
          (click)="toggleNotifications(post.id, !post.notificationStatus)"
        >
          <fa-icon
            [icon]="post.notificationStatus ? faBell : faBellSlash"
          ></fa-icon>
          <!-- {{ post.notificationStatus ? "On" : "Off" }} -->
        </button>
      </span>
      <hr />
      <div class="post-title">
        <a class="postname" routerLink="/view-post/{{ post.id }}">{{
          post.postName
        }}</a>
      </div>
      <div>
        <!-- Limit description to 5 lines and add a "Show more" button -->
        <div class="post-text" [class.expanded]="post.isExpanded">
          <p [innerHtml]="post.description"></p>
        </div>
        <div
          *ngIf="post.description.length > 1000"
          class="show-more-button-container"
        >
          <button
            class="show-more-button float-left"
            (click)="toggleDescription(post)"
          >
            {{ !post.isExpanded ? "Show more..." : " ...show less" }}
          </button>
        </div>
      </div>
      <hr
        class="{{
          post.description.length > 1000
            ? post.isExpanded
              ? 'mt-5'
              : 'mt-4'
            : 'mt-0'
        }}"
      />
      <span>
        <a class="btnCommments" role="button">
          <fa-icon [icon]="faComments"></fa-icon>
          Comments({{ post.commentCount }})
        </a>
        <button class="login" (click)="goToPost(post.id)">Read Post</button>
      </span>
    </div>
  </div>
</div>
