<!-- Display Posts-->
<div class="row post post-container" *ngFor="let post of posts">
  <div class="d-flex flew-column align-items-center">
    <app-vote-button class="align-self-start" [post]="post"></app-vote-button>
    <!-- Section to Display Post Information-->
    <div class="col-md-11">
      <span class="subreddit-info">
        <span class="subreddit-text"
          ><a class="posturl" routerLink="">{{ post.subredditName }}</a></span
        >
        <span>
          . Posted by
          <a
            *ngIf="currentUser != ''"
            class="username"
            routerLink="/user-profile/{{ post.userName }}"
            >{{ post.userName === currentUser ? "you" : post.userName }}</a
          >
          <a *ngIf="currentUser == ''">{{ post.userName }}</a>
        </span>
        <span> . {{ post.duration }}</span>

        <button
          *ngIf="currentUser === post.userName"
          class="toggleNotifications btn btn-outline btn-sm float-right"
          (click)="toggleNotifications(post.id, !post.notificationStatus)"
        >
          <fa-icon
            [icon]="post.notificationStatus ? faBell : faBellSlash"
          ></fa-icon>
          <!-- {{ post.notificationStatus ? "On" : "Off" }} -->
        </button>
      </span>
      <hr />
      <div class="post-title">
        <a class="postname" routerLink="/view-post/{{ post.id }}">{{
          post.postName
        }}</a>
      </div>
      <div>
        <p class="post-text" [innerHtml]="post.description"></p>
      </div>
      <hr />
      <span>
        <a class="btnCommments" role="button">
          <fa-icon [icon]="faComments"></fa-icon>
          Comments({{ post.commentCount }})
        </a>
        <button class="login" (click)="goToPost(post.id)">Read Post</button>
      </span>
    </div>
  </div>
</div>
